html, body {
  height: 100%;
}

#main {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.p5Canvas {
  border-radius: 15px;
}

#results-area {
  margin-top: 18em;
}